@model ExampleDetailVM

@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>
<section>
    @Model.Body
</section>
<section>
    @Html.ActionLink("Edit", "Edit", new {Model.TitleUrl})
    @using (Html.BeginForm("Delete", "Example", new {Model.TitleUrl})) {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete"/>
    }
</section>