@model HomeIndexVM

<h2>Hello World!</h2>

<p>First proper automatic deploy!</p>

<section>
    <h3>Examples</h3>
    <ul>
        @foreach (var example in Model.Examples) {
            <li>@Html.ActionLink(example.Title, "Detail", "Example", new {example.TitleUrl}, null)</li>
        }
    </ul>
</section>

@Html.ActionLink("Create Example", "Create", "Example")